extends dashb_layout

block dashb
    include group_menu
    script(src='/js/board.js')

    .section
        .group-header
            .group-icon-g.smooth(uk-toggle="target: #createTodo")
                .group-icon
                    i(data-feather='plus' style='width:24px; height:24px;')
                .group-txt
                    | Add Todo

            .group-search
                #progBar


    .section#agilecontent
        .four_w.card-holder
            .todo_header
                b TODO

            #todo_section
                for item, i in gdata.group.agileboard.todo
                    - var cardid = item.stamp
                    
                    .todo_card(id=cardid)
                        .uk-label.uk-label-success
                            for user, j in gdata.users
                                //-get the name of the email
                                if item.member == user.email
                                    | #{gdata.users[j].uname}
                            
                        .todo_desc
                            | #{item.todo}
                        .todo_footer
                            .todo_btn.todo_check(name='btnChange', onclick='upgradeitem('+cardid+',"todo","'+item.todo+'","'+item.member+'","'+item.date+'")', title='Upgrade')
                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-up'><polyline points='18 15 12 9 6 15'></polyline></svg>

                            //- .todo_btn.todo_check(name='btnChange', onclick='downgradeitem('+cardid+',"todo","'+item.todo+'","'+item.member+'","'+item.date+'")', title='Downgrade')
                            //-     <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'><polyline points='6 9 12 15 18 9'></polyline></svg>
                                
                            .todo_btn.todo_close(name='btnDelete', onclick='deleteitem('+cardid+',"todo");', title='Delete Item')
                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-trash'><polyline points='3 6 5 6 21 6'></polyline><path d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2'></path></svg>

                            .date-info #{item.date}


        .four_w.card-holder
            .todo_header
                b IN PROGRESS

            #progress_section
                for item, i in gdata.group.agileboard.progress
                    - var cardid = item.stamp
                    
                    .todo_card(id=cardid)
                        .uk-label.uk-label-success
                            for user, j in gdata.users
                                //-get the name of the email
                                if item.member == user.email
                                    | #{gdata.users[j].uname}
                            
                        .todo_desc
                            | #{item.todo}
                        .todo_footer
                            .todo_btn.todo_check(name='btnChange', onclick='upgradeitem('+cardid+',"progress","'+item.todo+'","'+item.member+'","'+item.date+'")', title='Upgrade')
                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-up'><polyline points='18 15 12 9 6 15'></polyline></svg>

                            .todo_btn.todo_check(name='btnChange', onclick='downgradeitem('+cardid+',"progress","'+item.todo+'","'+item.member+'","'+item.date+'")', title='Downgrade')
                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'><polyline points='6 9 12 15 18 9'></polyline></svg>
                                
                            //- .todo_btn.todo_close(name='btnDelete', onclick='deleteitem('+cardid+',"progress");', title='Delete Item')
                            //-     <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-trash'><polyline points='3 6 5 6 21 6'></polyline><path d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2'></path></svg>

                            .date-info #{item.date}


        .four_w.card-holder
            .todo_header
                b IN REVIEW

            #review_section
                for item, i in gdata.group.agileboard.review
                    - var cardid = item.stamp
                    
                    .todo_card(id=cardid)
                        .uk-label.uk-label-success
                            for user, j in gdata.users
                                //-get the name of the email
                                if item.member == user.email
                                    | #{gdata.users[j].uname}
                            
                        .todo_desc
                            | #{item.todo}
                        .todo_footer
                            .todo_btn.todo_check(name='btnChange', onclick='upgradeitem('+cardid+',"review","'+item.todo+'","'+item.member+'","'+item.date+'")', title='Upgrade')
                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-up'><polyline points='18 15 12 9 6 15'></polyline></svg>

                            .todo_btn.todo_check(name='btnChange', onclick='downgradeitem('+cardid+',"review","'+item.todo+'","'+item.member+'","'+item.date+'")', title='Downgrade')
                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'><polyline points='6 9 12 15 18 9'></polyline></svg>
                                
                            //- .todo_btn.todo_close(name='btnDelete', onclick='deleteitem('+cardid+',"review");', title='Delete Item')
                            //-     <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-trash'><polyline points='3 6 5 6 21 6'></polyline><path d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2'></path></svg>

                            .date-info #{item.date}


        .four_w.card-holder
            .todo_header 
                b FINISHED

            #finish_section
                for item, i in gdata.group.agileboard.finished
                    - var cardid = item.stamp
                    
                    .todo_card(id=cardid)
                        .uk-label.uk-label-success
                            for user, j in gdata.users
                                //-get the name of the email
                                if item.member == user.email
                                    | #{gdata.users[j].uname}
                            
                        .todo_desc
                            | #{item.todo}
                        .todo_footer

                            //- .todo_btn.todo_check(name='btnChange', onclick='upgradeitem('+cardid+',"finished","'+item.todo+'","'+item.member+'","'+item.date+'")', title='Upgrade')
                            //-     <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-up'><polyline points='18 15 12 9 6 15'></polyline></svg>

                            .todo_btn.todo_check(name='btnChange', onclick='downgradeitem('+cardid+',"finished","'+item.todo+'","'+item.member+'","'+item.date+'")', title='Downgrade')
                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'><polyline points='6 9 12 15 18 9'></polyline></svg>
                                
                            //- .todo_btn.todo_close(name='btnDelete', onclick='deleteitem('+cardid+',"finished");', title='Delete Item')
                            //-     <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-trash'><polyline points='3 6 5 6 21 6'></polyline><path d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2'></path></svg>

                            .date-info #{item.date}


    //-modal for creating and joining groups
    div.uk-flex-top(id="createTodo", uk-modal)
        .uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
            button.uk-modal-close-default(type='button', uk-close)
            .uk-modal-header
                h2.uk-modal-title Create New Group
            
            .uk-modal-body
                form.uk-grid-small#agileboard
                    .uk-width-1-1
                        label(for='groupName') Enter TODO:
                        input.uk-input#strTodo(name='strTodo', type='text', required)
                    .uk-width-1-1
                        label(for='groupName') Assign Member:
                        select.uk-input#strMember(name='strMember', required)
                            option(value='0') Assign group member
                            for item, i in gdata.group.groupmembers

                                for user, j in gdata.users
                                    //-get the name of the email
                                    if item == user.email
                                        - var name = gdata.users[i].uname
                                        option(value=item) #{name}
                    .uk-width-1-1
                        label(for='groupName') Date to complete:
                        input.uk-input#strDate(name='strDate', type='date', required)
                        input#group_data(type='hidden', name='group_data' value=gdata.group)

                    .uk-margin
                        .uk-text-right
                            button.uk-button.uk-button-primary(name='btncreateTodo', type='submit') ADD TODO


    script.
        //initialize the progress bar
        var bar = new ProgressBar.Line(progBar, {
            strokeWidth: 4,
            easing: 'easeInOut',
            duration: 1400,
            color: '#FFEA82',
            trailColor: '#eee',
            trailWidth: 1,
            svgStyle: {width: '100%', height: '10px'},
            from: {color: '#68768C'},
            to: {color: '#3093EB'},
            text: {
            style: {
                color: '#999',
                position: 'absolute',
                right: '20px',
                top: '32px',
                padding: 0,
                margin: 0,
                transform: null
            },
            autoStyleContainer: false
            },
            step: (state, bar) => {
                bar.path.setAttribute('stroke', state.color);
                bar.setText('Project Progress: ' + Math.round(bar.value() * 100) + ' %');
            }
        });

        function update_progress(){
            //get the number of cards 
            var num_todo_cards = $('#todo_section').find('.todo_card').length;
            var num_review_cards = $('#progress_section').find('.todo_card').length;
            var num_progress_cards = $('#review_section').find('.todo_card').length;
            var num_finished_cards = $('#finish_section').find('.todo_card').length;

            var total_cards = num_todo_cards + num_review_cards + num_progress_cards + num_finished_cards;

            var score = (num_finished_cards / total_cards);
            //console.log(score)

            bar.animate(score);
        }

        update_progress();