extends dashb_layout

block dashb
    include group_menu
    script(src='/js/board.js')

    .section
        .group-header
            .group-icon-g.smooth(uk-toggle="target: #createTodo")
                .group-icon
                    span(uk-icon='icon: plus')
                .group-txt
                    | Add Todo

            .group-search
                | Overall Progress:
                progress.uk-progress(value='10' max='100')


    .section
        .four_w.card-holder
            .todo_header
                b TODO

            #todo_section
                for item, i in gdata.group.agileboard.todo
                    - var cardid = item.stamp
                    
                    .todo_card(id=cardid)
                        .uk-label.uk-label-success
                            for user, j in gdata.users
                                //-get the name of the email
                                if item.member == user.email
                                    | #{gdata.users[j].uname}
                            
                        .todo_desc
                            | #{item.todo}
                        .todo_footer
                            .todo_btn.todo_check(type='submit', name='btnChange', action='')
                                span(uk-icon='icon: check')
                                
                            .todo_btn.todo_close(type='submit', name='btnDelete', onclick='deleteitem('+cardid+',"todo");')
                                span(uk-icon='icon: close')

                            .date-info #{item.date}


                //- .todo_card
                //-     .uk-label.uk-label-success
                //-         | Important
                //-     .todo_desc
                //-         | Description
                //-     .todo_footer
                //-         .todo_btn.todo_check
                //-             span(uk-icon='icon: check')
                //-         .todo_btn.todo_close
                //-             span(uk-icon='icon: close')
                //-         .date-info 2018


        .four_w.card-holder
            .todo_header
                b IN PROGRESS

            #progress_section
                for item, i in gdata.group.agileboard.progress
                    .todo_card
                        .uk-label.uk-label-success
                            for user, j in gdata.users
                                //-get the name of the email
                                if item.member == user.email
                                    | #{gdata.users[j].uname}
                            
                        .todo_desc
                            | #{item.todo}
                        .todo_footer
                            .todo_btn.todo_check
                                span(uk-icon='icon: check')
                            .todo_btn.todo_close
                                span(uk-icon='icon: close')
                            .date-info #{item.date}

        .four_w.card-holder
            .todo_header
                b IN REVIEW

            #review_section
                for item, i in gdata.group.agileboard.review
                    .todo_card
                        .uk-label.uk-label-success
                            for user, j in gdata.users
                                //-get the name of the email
                                if item.member == user.email
                                    | #{gdata.users[j].uname}
                            
                        .todo_desc
                            | #{item.todo}
                        .todo_footer
                            .todo_btn.todo_check
                                span(uk-icon='icon: check')
                            .todo_btn.todo_close
                                span(uk-icon='icon: close')
                            .date-info #{item.date}


        .four_w.card-holder
            .todo_header 
                b FINISHED

            #finish_section
                for item, i in gdata.group.agileboard.finished
                    .todo_card
                        .uk-label.uk-label-success
                            for user, j in gdata.users
                                //-get the name of the email
                                if item.member == user.email
                                    | #{gdata.users[j].uname}
                            
                        .todo_desc
                            | #{item.todo}
                        .todo_footer
                            .todo_btn.todo_check
                                span(uk-icon='icon: check')
                            .todo_btn.todo_close
                                span(uk-icon='icon: close')
                            .date-info #{item.date}


    //-modal for creating and joining groups
    div.uk-flex-top(id="createTodo", uk-modal)
        .uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
            button.uk-modal-close-default(type='button', uk-close)
            .uk-modal-header
                h2.uk-modal-title Create New Group
            
            .uk-modal-body
                form.uk-grid-small#agileboard
                    .uk-width-1-1
                        label(for='groupName') Enter TODO:
                        input.uk-input#strTodo(name='strTodo', type='text', required)
                    .uk-width-1-1
                        label(for='groupName') Assign Member:
                        select.uk-input#strMember(name='strMember', required)
                            option(value='0') Assign group member
                            for item, i in gdata.group.groupmembers

                                for user, j in gdata.users
                                    //-get the name of the email
                                    if item == user.email
                                        - var name = gdata.users[i].uname
                                        option(value=item) #{name}
                    .uk-width-1-1
                        label(for='groupName') Date to complete:
                        input.uk-input#strDate(name='strDate', type='date', required)
                        input#group_data(type='hidden', name='group_data' value=gdata.group)

                    .uk-margin
                        .uk-text-right
                            button.uk-button.uk-button-primary(name='btncreateTodo', type='submit') ADD TODO