extends dashb_layout

block dashb
    include group_menu
    //-header
    .section
        .group-header
            .group-icon-g.smooth(title='Find group members', uk-toggle="target: #upload-docs; animation: uk-animation-fade")
                .group-icon
                    i(data-feather='file-plus' style='width:20px; height:20px;')
                .group-txt
                    | Upload Documents


    //-upload documents
    .section#upload-docs(hidden)
        .card-holder.full_w
            .uk-card.uk-card-default.uk-card-body
                p
                    b Upload Documents:

                .js-upload.uk-placeholder.uk-text-center
                    i(data-feather='file-plus' style='width:20px; height:20px;')

                    form#file_upload(role='form', action='/file_upload', method='POST', enctype='multipart/form-data')
                        div(uk-form-custom)
                            input(type='file', name='docs')
                            span.uk-link Select File to upload

                    
                button.uk-button(type='submit' onclick='submit_files();') FILE UPLOAD

                progress#uploadprog.uk-progress(value='0' max='100' hidden)


    //-existing docs
    .section
        .card-holder.full_w
            .uk-card.uk-card-default.uk-card-body
                p 
                    b Shared Documents:

                .section
                    if(gdata.group.sharedocs.lenght != 0)
                        for item, i in gdata.group.sharedocs
                            - var targetDEL = 'target: #delete' + i
                            - var modalDEL = 'delete' + i

                            .mem-wrapper
                                .mem-row
                                    .mem-img
                                        i(data-feather='image' style='width:20px; height:20px;')
                                    .mem-cont 
                                        .chat-row 
                                            b #{item.filename}
                                        .chat-row 
                                            | #{item.size}

                                if(gdata.group.owner == udata.email || user.email == udata.email)
                                    .uk-label.uk-label-warning.fl-right.selected(uk-toggle=targetDEL)
                                        | DELET FILE


                            if(gdata.group.owner == udata.email || user.email == udata.email)
                                //-delete the file
                                div.uk-flex-top(id=modalDEL, uk-modal)
                                    .uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
                                        button.uk-modal-close-default(type='button', uk-close)
                                        .uk-modal-header
                                            h2.uk-modal-title
                                                |  LEAVE GROUP
                                            p Are you sure, you want to delete <b>#{item.filename}</b> ?
                                        .uk-modal-footer.uk-text-right
                                            form(method='POST', action='/delete_file')
                                                input(type='hidden', name='strEmail',)
                                                button.uk-button.uk-button-primary(type='submit') YES
                                                button.uk-button.uk-modal-close.uk-button-default(type='button') NO


    script.
        function submit_files(){
            document.getElementById('file_upload').submit();
        }
    