extends dashb_layout

block dashb
    include dashb_menu
    //.content-card
    .section
        .card-holder.full_w
            .uk-card.uk-card-default.uk-card-body
                .section
                    h4 User Settings
                    - var src = 'data:image/svg+xml;utf8,'+udata.uimg
                    img(src=src, width=100, height=100)
                .section
                    .uk-margin
                        form.uk-form-horizontal.uk-margin-small(method='POST', action='/school_update')
                            .uk-margin
                                label.uk-form-label User Email:
                                .uk-form-controls
                                    input.uk-input(type='text' value=udata.email disabled)

                            .uk-margin
                                label.uk-form-label User Name:
                                .uk-form-controls
                                    input.uk-input(type='text' value=udata.name disabled)

                            .uk-margin
                                label.uk-form-label University/College ():
                                .uk-form-controls
                                    //- select.uk-select(name='strSchool')
                                    //-     option(value="0") Select your University/College
                                    //-     for item, i in univ_list
                                    //-         if item.university == udata.univ
                                    //-             option(value=item.university selected) #{item.university}
                                    //-         else
                                    //-             option(value=item.university) #{item.university}

                                    input.uk-input(type='text', name='strSchool', id='univ_search', list='univ_datalist', placeholder='', value=udata.univ)
                                    //-store the university list
                                    datalist(id='univ_datalist')

                            .uk-margin
                                .uk-text-right
                                    button.uk-button.uk-button-primary(name='profileUpdate`', type='submit') UPDATE


        if (udata.auth == "form-auth")
            .card-holder.full_w
                .uk-card.uk-card-default.uk-card-body
                    .section
                        h4 Change Password
                    .section
                        .uk-margin
                            form.uk-form-horizontal.uk-margin-small(method='POST', action='/passw_update')
                                .uk-margin
                                    label.uk-form-label Current Password:
                                    .uk-form-controls
                                        input.uk-input(type='password', name='strOldpassw', required)

                                .uk-margin
                                    label.uk-form-label Enter New Password:
                                    .uk-form-controls
                                        input.uk-input(type='password', name='strPassw1', required)

                                .uk-margin
                                    label.uk-form-label Re-enter New Password:
                                    .uk-form-controls
                                        input.uk-input(type='password', name='strPassw2', required)

                                .uk-margin
                                    .uk-text-right
                                        button.uk-button.uk-button-primary(name='passwordUpdate', type='submit') UPDATE PASSWORD


    if (alert == 'updates')
        script.
            UIkit.notification({message: 'Settings Updates Succesfully', status: 'primary', pos: 'top-center'})

    if (alert == 'passw')
        script.
            UIkit.notification({message: 'Passwords do not match, Try Again', status: 'warning', pos: 'top-center'})

    if (alert == 'error')
        script.
            UIkit.notification({message: 'Something went wrong, try again', status: 'warning', pos: 'top-center'})

    if (alert == 'oldpassw')
        script.
            UIkit.notification({message: 'Makesure current password is correct', status: 'warning', pos: 'top-center'})



    script.
        var searchinput = document.getElementById('univ_search');
        var datalist = document.getElementById('univ_datalist');

        var request = new XMLHttpRequest();

        request.onreadystatechange = function(response){
            if(request.readyState === 4){
                if(request.status === 200){
                    var optionsFound = JSON.parse(request.response);

                    //console.log(optionsFound)

                    //go through the json data
                    optionsFound.forEach(function(item){
                        //append the found university/College
                        var option = document.createElement('option');
                        option.value = item.university;

                        //append the options
                        datalist.appendChild(option);
                    });

                    searchinput.placeholder = 'Search for University/College';
                }else{
                    //if error
                    searchinput.placeholder = 'Failed to load data..please try again later'
                }
            }
        };

        searchinput.placeholder = '....';

        //request the jsondata
        request.open('GET', '/js/univ_list.json', true);
        request.send();

